{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container" style="width: 70%; margin-top: 50px;">
    {% comment %} Display Search Results {% endcomment %}
    <form id="parse-form" method="POST" action="{% url 'parser_app:parsing' %}" class="mb-4">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="keyword" placeholder="Enter keyword for parsing..." aria-label="Search keyword" required />
        <button class="btn btn-info" type="submit" id="parse-button">Search</button>
      </div>
    </form>

    {% comment %} Filter Form {% endcomment %}
    <form method="GET" action="{% url 'parser_app:index' %}" class="row g-3">
      {% csrf_token %}
      <div class="col-md-4">
        <input type="text" class="form-control" name="keyword" placeholder="Keyword" value="{{ keyword }}" />
      </div>
      <div class="col-md-3">
        <select name="sort" class="form-select" aria-label="Sort">
          <option value="newer" {% if sort_order == "newer" %}selected{% endif %}>Newer First</option>
          <option value="older" {% if sort_order == "older" %}selected{% endif %}>Older First</option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-info w-100">Filter</button>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-danger w-100" id="clear-filters" title="Clear all filters">
            <i class="fas fa-eraser"></i>
        </button>
      </div>
    </form>
    <br>

    <div id="info-message" class="text-center mt-5" style="display: none;">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-info me-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info me-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-info me-2" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <h1 class="display-6 mt-4">Searching for news...</h1>
    </div>

    <div class="row">
      {% for article in page_obj %}
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
          <a href="{% url 'parser_app:article_detail' article.id %}" class="card shadow-lg" style="width: 100%; border-radius: 15px; overflow: hidden; position: relative; text-decoration: none; color: black">
            <img src="{{ article.photo }}" class="card-img-top" alt="Article Image" style="height: 200px; object-fit: cover;" />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title fw-semibold">{{ article.name }}</h5>
              <p class="card-text text-muted small">{{ article.published }}</p>

              <div class="mt-auto d-flex justify-content-between align-items-center">
                {% if user.is_authenticated %}
                  <form class="save-article-form" data-article-id="{{ article.id }}" method="POST">
                    {% csrf_token %}
                    {% if article in user.saved_articles.all %}
                      <button type="button" class="btn save-article-btn" style="background: none; border: none;">
                        <i class="fas fa-heart text-danger" style="font-size: 1.5rem;"></i>
                      </button>
                    {% else %}
                      <button type="button" class="btn save-article-btn" style="background: none; border: none;">
                        <i class="far fa-heart text-secondary" style="font-size: 1.5rem;"></i>
                      </button>
                    {% endif %}
                  </form>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
      <nav aria-label="Pagination" class="mt-5">
        <ul class="pagination justify-content-center">
          {% if page_obj.number > 3 %}
            <li class="page-item">
              <a class="page-link" href="?page=1">1</a>
            </li>
            {% if page_obj.number > 4 %}
              <li class="page-item disabled">
                <span class="page-link">...</span>
              </li>
            {% endif %}
          {% endif %}

          {% for page_num in page_obj.paginator.page_range %}
            {% if page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
              {% if page_obj.number == page_num %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{ page_num }}</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if sort_order %}&sort={{ sort_order }}{% endif %}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
              <li class="page-item disabled">
                <span class="page-link">...</span>
              </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if keyword %}&keyword={{ keyword }}{% endif %}{% if sort_order %}&sort={{ sort_order }}{% endif %}">{{ page_obj.paginator.num_pages }}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <script>
    document.getElementById('parse-form').addEventListener('submit', function () {
      document.getElementById('parse-button').disabled = true
      document.getElementById('info-message').style.display = 'block'
    })

    // AJAX for saving the article without refreshing the page
    document.querySelectorAll('.save-article-btn').forEach((button) => {
      button.addEventListener('click', function (event) {
        event.preventDefault()
        const form = this.closest('.save-article-form')
        const articleId = form.getAttribute('data-article-id')
        const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value

        fetch(`{% url 'parser_app:save_article' 0 %}`.replace(0, articleId), {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ article_id: articleId })
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.saved) {
              this.querySelector('i').classList.remove('far')
              this.querySelector('i').classList.add('fas', 'text-danger')
            } else {
              this.querySelector('i').classList.remove('fas', 'text-danger')
              this.querySelector('i').classList.add('far')
            }
          })
          .catch((error) => console.error('Error:', error))
      })
    })

    document.getElementById('clear-filters').addEventListener('click', function () {
      // Clear the keyword input and reset the sort select
      document.querySelector('input[name="keyword"]').value = '';
      document.querySelector('select[name="sort"]').selectedIndex = 0;

      // Submit the form to reset the filters
      document.querySelector('form').submit(); // This submits the form to the GET action
    });

    document.querySelector('form').addEventListener('submit', function () {
      document.getElementById('info-message').style.display = 'block'; // Show loading indicator
    });
  </script>
{% endblock %}