{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="container" style="width: 30%; margin-top: 50px;">
    <div class="card shadow-lg p-4">
      <div class="text-center">
        <img class="mb-4" src="{% static 'images/main.ico' %}" alt="Logo" width="80" height="80">
        <h1 class="h4 mb-3 fw-bold text-primary">Please Register</h1>
      </div>

      <form action="{% url 'users:registration' %}" method="POST">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="first_name" id="id_first_name" placeholder="First name" required>
          <label for="id_first_name">First name</label>
        </div>
        {% if form.first_name.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
        {% endif %}

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Last name" required>
          <label for="id_last_name">Last name</label>
        </div>
        {% if form.last_name.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
        {% endif %}

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="username" id="id_username" placeholder="Username" required>
          <label for="id_username">Username</label>
        </div>
        {% if form.username.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
        {% endif %}

        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" id="id_email" placeholder="name@example.com" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" required>
          <label for="id_email">Email address</label>
        </div>
        {% if form.email.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
        {% endif %}

        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Password" required>
          <label for="id_password1">Password</label>
        </div>
        {% if form.password1.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
        {% endif %}

        <div class="form-floating mb-4">
          <input type="password" class="form-control" name="password2" id="id_password2" placeholder="Password again" required>
          <label for="id_password2">Password again</label>
        </div>
        {% if form.password2.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
        {% endif %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      </form>

      <div class="text-center mt-4">
        <a href="{% url 'users:login' %}" class="text-decoration-none" style="font-size: 16px;">Already have an account? Sign In</a>
      </div>
    </div>
  </div>
{% endblock %}